name: Deploy

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: arc-runner-set
    container:
      image: ghcr.io/sas-daftech/kraken/ci:latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Build
        run: mvn clean package -DskipTests -q

      - name: Publish to GitHub Packages
        run: |
          mkdir -p ~/.m2
          printf '<settings><servers><server><id>github</id><username>%s</username><password>%s</password></server></servers></settings>' "$GITHUB_ACTOR" "$GITHUB_TOKEN" > ~/.m2/settings.xml
          mvn deploy -DskipTests -q
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
